<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <p>{{Subject}}</p>

    <table border="1">
        <tr>
            <th>name</th>
            <th>phone</th>
            <th>subject</th>
        </tr>
        {% for i in stud_list %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
        </tr>
        {% endfor %}
    </table>
    {% for i in Subject %}
    <p>{{i}}</p>
    {% endfor %}


</body>
</html>